@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Roboto Mono", monospace;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /* Para colocar todas as letras em maiúsculas:
    text-transform: uppercase; */

    /* Para ter As letras maiúsculas com iniciais maiores: */
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--fonte2);
}

header > p {
    padding-bottom: 50px;
    font-size: 1.5vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3vw;
    font-family: var(--fonte3);
}

h2 {
    padding-bottom: 60px;
    font-size: 4vw;
    font-family: var(--fonte2);
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(26, 25, 25, 0.548);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/praia01.jpg');
    background-position: left center;
}

section#img02 {
    background-image: url('../imagens/praia02.jpg');
    background-position: right top;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}